<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <client>
          <endpoint name="pipeServiceEndpoint" 
                address="net.pipe://localhost/SampleServer" 
                binding="netNamedPipeBinding" 
                bindingConfiguration="pipeConf"
                contract="IPCClientConf.IServiceContract"/>
    
          <endpoint name="localTcpServiceEndpoint" 
                address="net.tcp://localhost:8888/SampleServer/local" 
                binding="netTcpBinding" 
                bindingConfiguration="tcpConf"
                contract="IPCClientConf.IServiceContract"/>

          <endpoint name="globalTcpServiceEndpoint" 
                address="net.tcp://192.168.88.182:8888/SampleServer" 
                binding="netTcpBinding" 
                bindingConfiguration="tcpConf"
                contract="IPCClientConf.IServiceContract"/>

          <endpoint name="linuxTcpServiceEndpoint"
                address="net.tcp://192.168.88.176:8000/IPCTestServer/tcp"
                binding="netTcpBinding"
                bindingConfiguration="tcpConf"
                contract="IPCClientConf.IServiceContract"/>
    </client>

    <bindings>
      <netNamedPipeBinding>
        <binding name="pipeConf" >
          <security mode = "None">
          </security>
        </binding >
      </netNamedPipeBinding>

      <netTcpBinding>
        <binding name="tcpConf" >
          <security mode = "None">
          </security>
        </binding >
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>